################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UC_app/bin
/UC_app/obj/Debug
